/* General App styles */
.App {
  text-align: center;
}

/* Header styles */
.App-header {
  background-color: #1c09c7;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: baseline;
  font-size: calc(50px + 2vmin);
  color: rgb(249, 20, 20);
}

/* Keyframes for logo spin animation */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Flip card container */
.flip-card {
  background-color: #1c09c7;
  min-height: 100vh;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start; /* Changed from left to flex-start */
  justify-content: baseline;
  font-size: calc(50px + 2vmin);
  color: rgb(249, 20, 20);
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* Flip card inner container */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Flip card hover effect */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Front and back side positioning */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Front side styling */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Back side styling */
.flip-card-back {
  background-color: dodgerblue;
  color: rgb(179, 9, 9);
  transform: rotateY(180deg);
}
/* Header styles */
.custom-header {
  background-color: #1c09c7;
  border-bottom: 1px solid #eaeaea;
}

/* Navigation link styles */
.custom-nav-link {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  font-weight: bold;
}

.custom-nav-link:hover {
  color: #ffcc00;
}

/* Logo styles */
.custom-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}

.custom-logo:hover {
  color: #ffcc00;
}